<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Documento</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <h1>Registrar Documento</h1>

    <nav>
      <button onclick="location.href = 'lista.html'">
        📄 Lista de Documentos
      </button>
      <button onclick="location.href = '../remitos/remito.html'">
        🚚 Remitos
      </button>
      <button
        id="btn-usuarios"
        onclick="location.href = '../usuarios/usuario.html'"
      >
        👤 Gestión de Usuarios
      </button>
      <button onclick="logout()">🔐 Cerrar sesión</button>
    </nav>

    <hr />

    <form id="form-documento">
      <label for="tipo">Tipo de Documento:</label>
      <input type="text" id="tipo" required />

      <label for="fecha_recepcion">Fecha de Recepción:</label>
      <input type="date" id="fecha_recepcion" required />

      <label for="remitente">Remitente:</label>
      <input type="text" id="remitente" required />

      <label for="destino">Destino:</label>
      <select id="destino" required>
        <option value="Finanzas">Finanzas</option>
        <option value="Legal">Legal</option>
        <option value="Archivos">Archivos</option>
        <option value="Marketing">Marketing</option>
      </select>

      <label for="observaciones">Observaciones:</label>
      <textarea id="observaciones"></textarea>

      <button type="submit">Registrar</button>
    </form>

    <script src="../js/app.js"></script>
  </body>
</html>
